:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

img {
  width: 225px;
  height: 250px;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.character {
  max-width: 250px;
}
